@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* 
===========================
VARIABLES
===========================
*/

:root {
  /* COLORS */

  /* Full Slider Bar */
  --soft-cyan: hsl(174, 77%, 80%);
  /* Slider Background */
  --strong-cyan: hsl(174, 86%, 45%);
  --strong-dark-cyan: hsl(174, 86%, 34%);
  /* Discount Background */
  --light-grayish-red: hsl(14, 92%, 95%);
  /* Discount Text */
  --light-red: hsl(15, 100%, 70%);
  /* CTA Text */
  --pale-blue: hsl(226, 100%, 87%);

  /* White */
  --white: hsl(0, 0%, 100%);
  /* Main Background */
  --very-pale-blue: hsl(230, 100%, 99%);
  /* Empty Slider Bar */
  --light-grayish-blue-slider-bar: hsl(224, 65%, 95%);
  /* Toggle Background */
  --light-grayish-blue-toggle-bg: hsl(223, 50%, 87%);
  /* Text */
  --grayish-blue: hsl(225, 20%, 60%);
  /* Text & CTA Background */
  --dark-desaturated-blue: hsl(227, 35%, 25%);

  --font-family: 'Manrope', sans-serif;

  /* FONT SIZE ROOT */
  font-size: 15px;
}

/* 
===========================
RESET
===========================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
===========================
TYPOGRAPHY
===========================
*/
body {
  font-family: var(--font-family);
  color: var(--grayish-blue);
}

span {
  font-size: 1.1rem;
}

.title {
  font-size: 2.5rem;
  margin: 10px 0;
  color: var(--dark-desaturated-blue);
}

.sub-title {
  font-size: 1.375rem;
  margin: 10px 0;
}

.views-text {
  --size: 1.275rem;
  text-transform: uppercase;
  font-size: var(--size);
  font-weight: 800;
  letter-spacing: 0.25rem;
}

.views-text span {
  font-size: var(--size);
}

#price {
  font-size: 3rem;
  font-weight: 800;
  color: var(--dark-desaturated-blue);
}

#js-subscription {
  font-size: 1.275rem;
  margin-left: 0.3rem;
}

/* 
===========================
INPUT STYLING
===========================
*/

/* Slider */
.slider-container {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
}

.slider::-moz-range-track {
  height: 10px;
  background-color: var(--light-grayish-blue-slider-bar);
  border-radius: 1rem;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: url(../../images/icon-slider.svg) no-repeat center center;
  background-color: var(--strong-cyan);
  box-shadow: 0 15px 20px var(--soft-cyan);
  cursor: grab;
  transition: background-color 0.2s ease;
}

.slider::-moz-range-thumb:active {
  background-color: var(--strong-dark-cyan);
}

.slider::-moz-range-progress {
  height: 10px;
  border-radius: 1rem;
  background-color: var(--soft-cyan);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1) inset;
}

/* Switch */
.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: calc(var(--width) + 10px);
  height: calc(var(--height) + 2px);
  border-radius: var(--radius);
  background: var(--light-grayish-blue-toggle-bg);
  transition: background 0.5s;
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  height: calc(var(--height) - 5px);
  width: calc(var(--height) - 5px);
  background: var(--white);
  border-radius: var(--radius);
  transition: transform 0.4s;
}

.toggle__input:checked ~ .toggle__fill {
  background: var(--strong-cyan);
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(calc(var(--height) + 5px));
}

/* 
===========================
LAYOUT
===========================
*/

body {
  background: var(--very-pale-blue) url(../../images/bg-pattern.svg) no-repeat
    top center;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.section-center {
  max-width: 90vw;
}

header {
  margin-bottom: 3rem;
  min-height: 150px;
  padding: 2rem 0;
  position: relative;
  background: url(../../images/pattern-circles.svg) no-repeat center center;
}

/* ARTICLE */
article {
  background-color: var(--white);
  padding: 2.5rem 3rem;
  /* min-width: 700px; */
  /* border: 1px solid #000; */
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.125);
  position: relative;
}

/* ARTICLE TITLE */

/* TITLE TEXT */
.article-header .title-text {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
}

.views-text {
  order: 1;
}

.price-text {
  order: 2;
}

.slider-container {
  order: 3;
  margin-top: 2.5rem;
}

/* BILLINGS */
.billings {
  position: relative;
  left: -1rem;
}

.toggle {
  margin: 0 15px;
}

.yearly-billing {
  display: inline-block;
  position: relative;
}

.yearly-billing .discount {
  display: inline-block;
  top: 0;
  margin-left: 10px;
  width: max-content;
  position: absolute;
  padding: 2px 10px;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: var(--light-grayish-red);
  color: var(--light-red);
}

.yearly-billing .discount::after {
  content: '-25%';
  top: 0;
  left: 0;
  width: max-content;
  position: absolute;
  border-radius: inherit;
  background-color: inherit;
  visibility: hidden;
}

/* ARTICLE FOOTER */

article .article-footer {
  margin-top: 4rem;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

article .article-footer::before {
  position: absolute;
  content: '';
  top: -1.3rem;
  left: -3rem;
  width: calc(100% + 6rem);
  height: 1px;
  background-color: var(--pale-blue);
}

.benefits {
  flex-basis: 50%;
}

.benefits li {
  margin: 0.8rem 0;
}

.benefits img {
  margin-right: 1rem;
}

.cta {
  padding: 1rem 3.5rem;
  border-radius: 9999px;
  border: none;
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  font-weight: 800;
  cursor: pointer;
  transition: color 0.2s;
}

.cta:hover {
  color: var(--white);
}

/* 
===========================
UTILITIES
===========================
*/

.align-text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
===========================
MEDIA QUERIES
===========================
*/

/* IPHONE */
@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
  }

  .sub-title {
    margin: 0 auto;
    max-width: 16rem;
    font-size: 1.1rem;
  }

  header {
    margin-bottom: 1.5rem;
  }

  article {
    padding: 2.5rem 2rem;
    max-width: 700px;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  span {
    font-size: 0.9rem;
  }

  .article-header .title-text {
    justify-content: center;
    margin-bottom: 3rem;
  }

  .views-text {
    --size: 1rem;
  }

  #price {
    font-size: 2rem;
  }

  #js-subscription {
    font-size: 1rem;
  }

  .price-text {
    order: 3;
  }

  .slider-container {
    order: 2;
    margin-bottom: 2.5rem;
  }

  .toggle {
    margin: 0 10px;
  }

  .yearly-billing .discount {
    margin-left: 6px;
    visibility: hidden;
  }

  .yearly-billing .discount::after {
    visibility: visible;
    padding: 1px 5px;
    font-size: 0.8rem;
  }

  article .article-footer {
    flex-direction: column;
  }

  .benefits {
    margin-bottom: 1.5rem;
  }

  .benefits li {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  article {
    min-width: 700px;
  }
}
